<div id="location-modal">
	<div class="modal-form-container">
		<div class="modal-form-inner">
		<h1 class="modal-title">Find a Practicioner Near You</h1>
		<%= render :partial => 'map_location_form' %>
		</div>
	</div>
</div>
<div class="map-container">
	<div id="map" class="geo-loc">
	</div>
</div>