<div id="location-modal" class="section">
	<div class="modal-form-container">
		<%= render :partial => 'map_location_form' %>
		</div>
	</div>
</div>
<div class="map-container" class="section">
	<div id="map" class="geo-loc">
	</div>
</div>
<%= javascript_include_tag 'index.js' %>