@import 'support/variables';

body{
	margin: 0;
	padding: 0 0 4em 0;
	top: 0;
	left: 0;
	background-color: $primary-light-lo-sat;
	font: 400 16px/1.5 $font-stack;
	color: #474747;
	a{
		color: $complement-light;
	}
	p.notice, p.alert{
		display: none;
	}
}

main{
 	@include box-sizing(border-box);
 	background-color: transparent;
 	position: relative;
 	padding: .5em 0;
 	width: 100%;
 	text-align: center;
}

.container{
	text-align: left;
	position: relative;
	top: 0;
	display: inline-block;
}

.container > .container{
	float: left;
}